@charset "UTF-8";
#footer{
	background-color:#EE966A;
	border: 1px solid black; 
    padding: 8px;
    border-radius: 5px;
}

#header{
	background-color:#DFAE5E;
	text-align: center;
	font-family: Arial, sans-serif;
	padding: 10px;
}
.main{
	background-color:#0080c0;
	padding:50px;
	margin:30px;
	flex:3;
}
.main1{
	background-color:#97C1D8;
	padding:50px;
	margin:30px;
	flex:3;
	text-align:center;
	width:100%;
}
.recursos{
	flex:1;
	padding:10px;
	margin-bottom:80%;
	background-color:#ED6C4E;
}
.recursos1{
	border: 1px solid black;
    border-radius: 5px; 
}
.container{
	display:flex;
	flex-direction:row;
	width:100%;
	background-color:#3A5E80;
}
.body{
	background-color:#2E6BA8;
}
.nav{
	text-align: center;
	
}
.ul{
    margin: 0;
    padding: 0;
}
.ul li{
	display: inline;
	border: 1px solid black; 
    padding: 8px;
    border-radius: 5px;
}
.volver {
	border: 1px solid black;
	padding:8px;
    border-radius: 5px;
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
input{
	border: 1px solid black; 
    padding: 8px;
    border-radius: 5px;
}
.form{
	font-family: Arial, sans-serif;
    font-size: 16px; 
    margin-bottom: 20px;
    background-color:#0080c0;
    width: 550px; 
    margin: 0 auto; 
    text-align: left; 
	padding: 20px;
	border: 2px solid black; 
    border-radius: 5px;
}
#sugerencias{
	border: 1.5px solid black; 
    border-radius: 5px;
}
#provincia{
	border: 1px solid black; 
    border-radius: 5px;
}
.genero{
	border: 1px solid black; 
    padding: 8px;
    border-radius: 5px;
}
.a{
	display: inline-block;
	color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.section {
	
    background-color: #97C1D8; 
    border-radius: 10px; 
    margin-bottom: 20px; 
    padding: 5px; 
}
.titulo{
	font-family: Arial, sans-serif; 
    font-weight: bold; 
    margin-bottom: 10px; 
}
.table{
	width: 100%;
    border-collapse: collapse;
    background-color:#E86A3B;
}
.table tr th{
	font-family: Arial, sans-serif;
}
.table td, th{
	border: 1px solid black; 
    padding: 8px;
}
.recursos ul {
    list-style-type: none; 
    padding: 0;
}
.p{
	font-family: Arial, sans-serif;
    font-size: 16px; 
    margin-bottom: 20px;
}
.img{
	border-radius: 5px; 
}
