<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Llanos Mateo Ezequiel</title>
</head>
<body>
<header>
<h1>
PROGRAMACIÓN EN JAVA
</h1>
<nav>
    <ul>
      <li><a href="#">Introducción</a></li>
      <li><a href="#">Tipos de datos en Java</a></li>
      <li><a href="#">Clases</a></li>
      <li><a href="#">Métodos</a></li>
    </ul>
</nav>
</header>
<main>
	<section>
		<h2>Introducción</h2>
		
		<h3>¿Qué es la programación en java?</h3>
		
		<p>La programación en Java es el proceso de crear software utilizando 
		el lenguaje de programación Java, conocido por su portabilidad y versatilidad.</p>
		
		<table>
        <tr>
            <th>Aspecto</th>
            <th>Descripcion</th>
        </tr>
        <tr>
            <td>Fuertemente tipado</td>
            <td>Cada variable debe tener un tipo de datos declarado.</td>
        </tr>
        <tr>
            <td>Orientación a Objetos</td>
            <td>Todo en Java es un objeto con propiedades y métodos.</td>
        </tr>
        <tr>
            <td>Portabilidad</td>
            <td>Permite que el código Java se ejecute en diferentes plataformas sin cambios.</td>
        </tr>
    </table>
	</section>
		<h2>Tipos de datos en java</h2>
		<h3>Datos primitivos</h3>
		<ul>
			<li>byte: Entero de 8 bits con signo.</li>
	        <li>short: Entero de 16 bits con signo.</li>
	        <li>int: Entero de 32 bits con signo.</li>
	        <li>long: Entero de 64 bits con signo.</li>
	        <li>float: Número de punto flotante de precisión simple de 32 bits.</li>
	        <li>double: Número de punto flotante de precisión doble de 64 bits.</li>
	        <li>char: Representa un único carácter Unicode de 16 bits.</li>
	        <li>boolean: Representa un valor booleano, que puede ser true o false.</li>
		</ul>
		<h3>Datos de referencia</h3>
		<h4>Algunos datos de referencia son:</h4>
		<ul>
			<li>String: Secuencia de caracteres.</li>
		    <li>ArrayList: Colección dinámica de objetos.</li>
		    <li>Object: Clase base para todos los tipos de datos en Java.</li>
		</ul>
	<section>
		<h2>Clases</h2>
		<h3>¿Qué son las clases en java?</h3>
		<p> Las clases en Java son plantillas para crear objetos. Definen las propiedades y comportamientos 
			que los objetos de ese tipo comparten. Las clases permiten organizar y estructurar el código de 
			manera modular y reutilizable en la programación orientada a objetos. </p>
	</section>
		<h2>Métodos</h2>
		<h3>¿Qué son los métodos en java?</h3>
		<p> Los métodos en Java son bloques de código que realizan tareas específicas y pueden ser invocados 
		desde otras partes del programa. Se definen dentro de una clase y representan comportamientos o 
		acciones que los objetos de esa clase pueden realizar. Los métodos permiten modularizar el código y 
		reutilizar la lógica en diferentes partes del programa.</p>
	<section>

	</section>

</main>
<aside>
      <a href="https://es.wikipedia.org/wiki/Java_(lenguaje_de_programaci%C3%B3n)"target="_blank">  Más información 
      <img src="/images/imagenJava.png" alt="Imagen de Java"></a>
</aside>
<footer>
	 <h2>Contacto</h2>
     <p>Correo Electrónico: llanosmateo321@gmail.com</p>
     <p>Síguenos en redes sociales:</p>
     <a href="https://www.facebook.com/?locale=es_LA">Facebook</a>
</footer>
</body>
</html>